@font-face {
  font-family: "Tires";
  src: url("../Fonts/tires/tires.eot");
  src: url("../Fonts/tires/tires.eot?#iefix") format("embedded-opentype"),
    url("../Fonts/tires/TIRESITALICPERSONALUSE-BoldItal.woff2") format("woff2"),
    url("../Fonts/tires/TIRESITALICPERSONALUSE-BoldItal.woff") format("woff"),
    url("../Fonts/tires/TIRESITALICPERSONALUSE-BoldItal.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Baguede";
  src: url("../Fonts/baguede-free/BaguedeFree-Regular.eot");
  src: url("../Fonts/baguede-free/BaguedeFree-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../Fonts/baguede-free/BaguedeFree-Regular.woff2") format("woff2"),
    url("../Fonts/baguede-free/BaguedeFree-Regular.woff2") format("woff"),
    url("../Fonts/baguede-free/BaguedeFree-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #181819;
  color: #ececec;
  font-size: 10px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; /* width of the entire scrollbar */
}

section {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 3rem 3%;
}

a {
  text-decoration: none;
}

/* Preloader Features */

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

#preloader {
  background: #181819;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.img1 {
  animation: rotation 5s linear infinite;
}

.img2 {
  animation: inverseRotation 5s linear infinite;
}

.loaded .loader{
  display: none;
}

/* Header Features */

header {
  width: 100%;
  padding: 0.2rem 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-list {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181819;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(-100%);
  z-index: 999;
}

.menu-list.open {
  transform: translateX(0);
}

.menu-list a {
  font-family: "Baguede";
  font-size: 2.2rem;
  color: #ececec;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.menu-list a:hover {
  color: #f8e71c;
}

.menu-btn {
  width: 6rem;
  height: 6rem;
  background-color: #d9f24f;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 3vh;
  right: 2vw;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Banner features*/

.banner {
  width: 100%;
  height: 100vh;
  background: url(../Img/fondo2.jpeg) center no-repeat;
  background-size: cover;
}

.banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .container h1 {
  font-size: 7rem;
  letter-spacing: 2rem;
  text-align: center;
  font-family: "Tires";
}

.banner .container .title {
  font-size: 7rem;
  letter-spacing: 0.5rem;
  font-family: "Tires";
  margin-top: -1rem;
}

.title-effect {
  background-color: #d9f24f;
  width: 30rem;
  text-align: center;
  color: #181819;
  transform: rotate(-5deg);
  font-family: "Tires";
  font-size: 7rem;
  transition: transform 0.1s ease;
}

.btn {
  font-family: "Baguede";
  font-size: 2rem;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  margin-top: 7rem;
  border: 1px solid #d9f24f;
  color: #181819;
  background-color: #d9f24f;
  border-radius: 0.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

/* Regressive Count Features */

.countdown,
.count-container,
.count-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.count-container {
  width: 95%;
  max-width: 600px;
  height: 8rem;
  min-height: 5rem;
  background-color: #d9f24f;
  border-radius: 0.8rem;
  flex-direction: row;
  padding: 10px;
  margin-top: 3rem;
}

.count-number {
  width: 25%;
  height: 7rem;
  max-height: 4rem;
  background-color: transparent;
  text-align: center;
  margin: 0 10px;
  border-radius: 0.4rem;
  color: #181819;
}

.count-number span {
  font-family: "Baguede";
  text-transform: uppercase;
}

.number {
  font-size: 4rem;
  font-weight: 700;
}

/* About Features */

.about .container {
  display: grid;
  grid-template-columns: repeat(100% 100%);
  padding-top: 0;
  margin-top: 3rem;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.sec-title {
  font-family: "Baguede";
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3em;
}

.heading {
  padding: 0 30%;
  text-align: end;
}

.paragraph {
  font-family: "Baguede";
  font-size: 1.6rem;
  text-align: justify;
  line-height: 1.5rem;
  margin-top: 2rem;
}

/* Partners Features */

.partners {
  height: 15rem;
  flex-direction: column;
  background-color: #ececec;
}

.partners .container {
  padding: 0.5rem 0 0 0;
}

.partners .slider-track {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 12);
  padding: 1rem 3%;
}

.partners .slide {
  width: 200px;
}

.partners .slide img {
  width: 150px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

/* Benefits Features */

.benefits {
  background: url(../Img/img2.png) no-repeat;
  background-position: 60%;
  background-size: cover;
}

.benefits .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits .container .btn {
  margin-top: 2rem;
}

.benef-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.benefits .container .paragraph {
  text-align: center;
  margin-bottom: 3rem;
}

.benef-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.benef-container .content img {
  width: 12rem;
  height: 12rem;
  color: #d9f24f;
}

.benef-container .content span {
  font-family: "Baguede";
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
  text-align: center;
}

/* Stages Features */

.stages {
  background-color: #ececec;
}

.stages .container {
  flex-direction: column;
  color: #181819;
}

.stages .container .sec-title {
  margin-bottom: 1rem;
}

.stages .container,
.stages-container,
.stage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stages .container .stages-container {
  flex-wrap: wrap;
  gap: 1rem;
}

.stages .container .stages-container .stage {
  flex-direction: column;
  color: #181819;
  border: solid 1px #181819;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  height: 45rem;
  width: 35rem;
  max-width: 45rem;
}

.stages .container .stages-container .stage img {
  width: 100%;
  max-width: 25rem;
  height: 50%;
}

.stages .container .stages-container .stage .stage-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Baguede";
  margin-top: 1rem;
}

.stage2 .paragraph {
  margin-top: 3.8rem;
}

/*  Contact Features */

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .container .sec-img {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-right: 3rem;
  display: none;
}

.contact .container .sec-img img {
  width: 100%;
  max-width: 30rem;
}

.contact .container .sec-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.contact .container .sec-form .second-title {
  margin-top: -4rem;
}

.contact .container .sec-form .form {
  width: 100%;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact .container .sec-form .name {
  color: #ececec;
  font-family: "Baguede";
  text-transform: uppercase;
  font-size: 2.5rem;
}

.contact .container .sec-form .form-space {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contact .container .sec-form .form-space .form-control {
  width: 25rem;
  height: 2rem;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #d9f24f;
  margin-top: 2rem;
  caret-color: #ececec;
  color: #ececec;
}
.contact .container .sec-form .form .btn {
  background-color: #d9f24f;
  margin-top: 2rem;
  color: #181819;
}

/* Testimonials Features */

.testimonials {
  background-color: #ececec;
  color: #181819;
  display: flex;
}

.testimonials .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials .container .testimonials-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials .container .slider-rows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials .container .slider-rows .slider-row {
  color: #181819;
  font-size: 3rem;
  margin-left: 1rem;
  cursor: pointer;
}

.testimonials .container .testimonials-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.testimonials .container .testimonials-content .testimonial-text {
  grid-column: 1/3;
  grid-row: 1/2;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1.5s;
}

.testimonials .container .testimonials-content .slider-show {
  pointer-events: unset;
  opacity: 1;
}

.testimonials .container .testimonials-content .testimonial-text .paragraph {
  color: #181819;
  font-size: 2.2rem;
  text-align: justify;
  line-height: 1.2em;
}

.testimonials .container .testimonials-content .testimonial-text h4 {
  font-size: 1rem;
  font-family: "Baguede";
  font-weight: 100;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  line-height: 1.2em;
}

/* Footer Features */

footer,
.container,
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container img {
  width: 10rem;
  height: 10rem;
}

footer .container .footer-links {
  flex-direction: column;
  font-size: 0.5rem;
  gap: 0.6rem;
}

footer .container .footer-links .separator {
  width: 50%;
  height: 1px;
  background-color: #ececec;
  margin-top: 1.5rem;
}

footer .container .social-links {
  padding-top: 3rem;
  display: flex;
  gap: 0.8rem;
}

footer .container .social-links a {
  color: #ececec;
  font-size: 4rem;
}

/* Scroll top btn */

.scroll-top-btn {
  position: fixed;
  z-index: 99;
  bottom: 3vh;
  left: 2vw;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: bold;
  background-color: #d9f24f;
  color: #181819;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* Loader Animation */

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes inverseRotation {
  100% {
    transform: rotate(-360deg);
  }
}

/* Scroll Infinite Animation */

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-150px * 6));
    transform: translateX(calc(-150px * 6));
  }
}

/* Responsive */

@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
  section {
    padding: 3rem 10%;
  }

  header {
    z-index: 1000;
    position: fixed;
    padding: 0.2rem 10%;
  }

  header.sticky {
    background-color: #181819;
    border-bottom: 1px solid #d9f24f;
    transition: 0.3s ease-in-out;
  }

  .menu-btn {
    display: none;
  }

  .menu-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }

  .menu-list a {
    margin: 0 1rem;
    font-size: 1rem;
  }

  /* Banner Features */

  .banner {
    background: url(../Img/fondo.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .banner .container h1,
  .title {
    margin-top: 3rem;
  }

  .banner .container .btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1.2rem;
  }

  .banner .container .btn:hover {
    background-color: #d9f24f;
    color: #181819;
    border: 2px solid #d9f24f;
    border-radius: 0.5rem;
    letter-spacing: 0.2rem;
  }

  /* Countdown Features */

  .countdown {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .countdown .count-container .count-number .number {
    font-size: 2rem;
  }

  /* About Features */

  .about {
    padding-top: 2rem;
  }

  .about .container {
    grid-template-columns: 50% 50%;
    gap: 2rem;
    padding-top: 0;
    margin-top: 0;
  }

  .about .container .img-container {
    grid-column: 2;
    justify-content: center;
    align-items: center;
  }

  .about .container .img-container img {
    margin-top: 5rem;
  }

  .about .container .text-container {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.3rem;
  }

  .about .container .text-container .heading {
    text-align: end;
    padding: 0;
  }

  .about .container .text-container .paragraph {
    font-size: 1.2rem;
  }

  /* Partners Features */

  .partners {
    height: 10rem;
  }

  /* Benefits Features */

  .benefits {
    background-position: right;
  }

  .benefits .container .benef-container .content {
    width: 10rem;
  }

  .benef-container .content img {
    width: 5rem;
    height: 5rem;
  }

  .benef-container {
    gap: 3rem;
  }

  .benefits .container .btn {
    background-color: transparent;
    color: #ececec;
    border: 2px solid #ececec;
    font-size: 1.2rem;
  }

  .benefits .container .btn:hover {
    background-color: #d9f24f;
    border-color: #d9f24f;
    color: #181819;
  }

  /* Stages Features */

  .stages .container .stages-container {
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .stages .container .stages-container .stage {
    height: auto;
    width: 20rem;
  }

  .stages .container .stages-container .stage .paragraph {
    font-size: 0.9rem;
  }

  .stages .container .stages-container .stage .stage-title {
    font-size: 1.5rem;
  }

  .stages .container .stages-container .stage2 .paragraph {
    margin-top: 7.4rem;
  }

  .stages .container .stages-container .stage3 .paragraph {
    margin-top: 5.6rem;
  }

  /* Contact Features */

  .contact {
    flex-wrap: nowrap;
    padding: 3rem 10%;
  }

  .contact .container {
    flex-direction: row;
  }

  .contact .container .sec-img {
    display: block;
    width: 50%;
    justify-content: flex-end;
  }

  .contact .container .sec-form {
    width: 50%;
    align-items: flex-end;
  }

  .contact .container .sec-form .form {
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .contact .container .sec-form .name {
    font-size: 1.5rem;
  }

  .contact .container .sec-form .form-space {
    width: initial;
  }

  .contact .container .sec-form .form-space .form-control {
    width: 15rem;
    margin-top: initial;
  }

  .contact .container .sec-form .form .btn {
    color: #ececec;
    background-color: transparent;
    border: 2px solid #ececec;
    font-size: 1.2rem;
  }

  .contact .container .sec-form .form .btn:hover {
    color: #181819;
    background-color: #d9f24f;
    border-color: #d9f24f;
  }

  /* Footer Features */

  footer .container img {
    width: 8rem;
    height: 8rem;
  }

  footer .container .footer-links {
    flex-direction: row;
  }

  footer .container .footer-links .separator {
    width: 0.2rem;
    height: 2.3rem;
  }

  footer .container .social-links a {
    font-size: 2rem;
  }

  footer .container .social-links a:hover {
    color: #d9f24f;
  }

  footer .container .footer-links p {
    font-size: 1.3rem;
  }

  /* Scroll top btn */

  .scroll-top-btn {
    left: initial;
    right: calc(4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
  }
}
